// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
//.simple-calendar {
//  table {
//    -webkit-border-horizontal-spacing: 0px;
//    -webkit-border-vertical-spacing: 0px;
//    background-color: rgba(0, 0, 0, 0);
//    border: 1px solid rgb(221, 221, 221);
//    border-collapse: collapse;
//    box-sizing: border-box;
//    max-width: 100%;
//    width: 100%;
//  }
//
//  tr {
//    border-collapse: collapse;
//  }
//
//  th {
//    padding: 6px;
//    border-bottom: 2px solid rgb(221, 221, 221);
//    border-collapse: collapse;
//    border-left: 1px solid rgb(221, 221, 221);
//    border-right: 1px solid rgb(221, 221, 221);
//    border-top: 0px none rgb(51, 51, 51);
//    box-sizing: border-box;
//    text-align: left;
//  }
//
//  td {
//    padding: 6px;
//    vertical-align: top;
//    width: 14%;
//
//    border: 1px solid #ddd;
//    border-top-color: rgb(221, 221, 221);
//    border-top-style: solid;
//    border-top-width: 1px;
//    border-right-color: rgb(221, 221, 221);
//    border-right-style: solid;
//    border-right-width: 1px;
//    border-bottom-color: rgb(221, 221, 221);
//    border-bottom-style: solid;
//    border-bottom-width: 1px;
//    border-left-color: rgb(221, 221, 221);
//    border-left-style: solid;
//    border-left-width: 1px;
//  }
//
//  .day {
//    height: 80px;
//  }
//
//  .wday-0 {}
//  .wday-1 {}
//  .wday-2 {}
//  .wday-3 {}
//  .wday-4 {}
//  .wday-5 {}
//  .wday-6 {}
//
//  .today {
//    background-color: #ff1f2b
//  }
//
//  .past {}
//  .future {}
//
//  .start-date {background-color: #ff1f2b}
//
//  .prev-month {
//    background: #DDD;
//  }
//  .next-month {
//    background: #DDD;
//  }
//  .current-month {}
//
//  .has-events {}
//}


body
{
	background-image:linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
    ),url("background.jpg");
    background-size: 100% 100%;
	
	background-repeat: no-repeat;
	background-position: center; 
}

p.navbar-text.pull-right
{
	display:none;
}

#splash
{
	width:50%; 
	margin:20% 25%;
	text-align: center;
	color:white;
	
}

.btn{
	margin-top:2.67em;
	margin-bottom:1em;
	
}
.button {
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	border-radius: 15px;
	color: #ffffff;
	font-size: 20px;
	background: none;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 2px;
	text-decoration: none;
   
   
   }
.button:hover {
   text-decoration: none;
   color: #C0C0C0;
   border: solid #C0C0C0 2px;
   
   }
   
a#signIn
{
	color:white;
	font-size: 75%;
}

a#signIn:hover
{
	color:#C0C0C0;
	font-size: 75%;
}

#mainTitle
{
	font-weight: 100;
	font-size:600%;
	padding-bottom:0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

p.alert
{
	display:none;
}
